// Home Image Slider
.carousel-home {
  .carousel-item {
    height: 100vh;
    box-shadow: inset 120px 100px 250px #000000,
      inset -120px -100px 250px #000000;

    a:hover {
      color: rgba(darken($primary-color, 6), 0.85);
      @include easeOut();
    }

    &.item-1 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/david/d_bg_portrait.jpg")
        no-repeat center center fixed;
      background-size: cover;
    }
    &.item-2 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/code.jpg")
        no-repeat center center fixed;
      background-size: cover;

      .fa-code {
        color: $secondary-color;
      }
    }
    &.item-3 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/games/dsms.png")
        no-repeat center center fixed;
      background-size: cover;

      .fa-gamepad {
        color: $secondary-color;
      }
    }
    &.item-4 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/underconstruction.jpg")
        no-repeat center center fixed;
      background-size: cover;

      .fa-youtube {
        color: $secondary-color;
      }
    }
    &.item-5 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/philosophy.jpg")
        no-repeat center center fixed;
      background-size: cover;

      .fa-brain {
        color: $secondary-color;
      }
    }
    &.item-6 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/contact.jpg")
        no-repeat center center fixed;
      background-size: cover;

      .fa-id-card {
        color: $secondary-color;
      }
    }
  }
}

// Games Image Slider
.carousel-games {
  .carousel-item {
    height: 100vh;
    box-shadow: inset 120px 100px 250px #000000,
      inset -120px -100px 250px #000000;
    a:hover {
      color: rgba(darken($primary-color, 6), 0.85);
      @include easeOut();
    }

    .fa-eye {
      color: $secondary-color;
    }

    &.item-1 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/games/dsms.png")
        no-repeat center center fixed;
      background-size: cover;
    }
    &.item-2 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/games/flappy.gif")
        no-repeat center center fixed;
      background-size: cover;
    }
    &.item-3 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/games/bricks.png")
        no-repeat center center fixed;
      background-size: cover;
    }
    &.item-4 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/underconstruction.jpg")
        no-repeat center center fixed;
      background-size: cover;
    }
    &.item-5 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/games/reflex.png")
        no-repeat center center fixed;
      background-size: cover;
    }
    &.item-6 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/games/rps-page.png?token=AKZZUA6EENASANMGEDD3LI25QBUZE")
        no-repeat center center fixed;
      background-size: cover;
    }
    &.item-7 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/games/DSMS_redux_start.gif?token=AKZZUA7DWA5OX5BUWYTYD3C5QBUZ4")
        no-repeat center center fixed;
      background-size: cover;
    }
  }
}

// Entertainment Image Slider
.carousel-entertainment {
  .carousel-item {
    height: 100vh;
    box-shadow: inset 120px 100px 250px #000000,
      inset -120px -100px 250px #000000;
    a:hover {
      color: rgba(darken($primary-color, 6), 0.85);
      @include easeOut();
    }

    &.item-1 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/entertainment_page/entertainment.jpg")
        no-repeat center center fixed;
      background-size: cover;
    }
    &.item-2 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/underconstruction.jpg")
        no-repeat center center fixed;
      background-size: cover;
    }
    &.item-3 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/about_page/d_music.gif")
        no-repeat center center fixed;
      background-size: cover;
    }
    &.item-4 {
      background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/about_page/d_gangster.gif")
        no-repeat center center fixed;
      background-size: cover;
    }
  }
}

.carousel-caption {
  position: absolute;
  top: 38%;
  text-transform: uppercase;
  width: 100%;
  right: 0;
  left: 0;

  h1 {
    text-shadow: 0.1rem 0.1rem 0.1rem white;
    color: rgba(darken($secondary-color, 6), 1);
    padding-bottom: 1rem;
    letter-spacing: 0.3rem;
  }
  h3 {
    text-shadow: 0.1rem 0.1rem 0.1rem white;
    color: rgba(lighten($tertiary-color, 6), 0.85);
    padding-bottom: 1.6rem;
  }
}
